
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
html, body {
  margin: 0px;
  padding: 0px;
}
body {
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
h1 {
	font-weight: 300;
  margin-bottom: 0px;
  color: #000;
}
h2 {
	font-weight: 400;
	margin-bottom: 0.5em;
	margin-top: 0px;
}
p {
  margin-top: 10px;
  color: #595959;
}
ul {
	margin-top: 0px;
}
#header {
  background-color: #0074CC;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#header h1 {
  color: #fff;
  margin: 0px;
}
#header h1 img {
  width: 100px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 20px;
}
a {
	color: #005A9E;
	text-decoration: none;
	border-bottom: 1px dashed #005A9E;
}
.icon {
	vertical-align: middle;
	height: 32px;
}
.article-inner p{
	margin-top: 0px;
}
.article-image {
	display: block;
	float: right;
	max-height: 100px;
}
.clearfix {
	clear: both;
}
.section-header {
	margin-top: 2em;
}
.highlight {
	color: #fff;
	background-color: #FF6A00;
}
.circle {
	border-radius: 30%;
	padding: 1%;
}
.floated.left {
	float: left;
	margin-right: 7%;
}
.floated.left p {
	margin: 5px;
}
#disclaimer {
	font-size: 0.6em;
}
#main-wrapper, #logo-container {
	max-width: 800px;
}
#main-wrapper {
	position: relative;
}
#years-and-education > div {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  margin: 10px;
  padding: 10px;
  position: relative;
  margin-bottom: 0px;
}
#years-and-education img {
  height: 70px;
  float: left;
  padding: 10px;
}
#social img {
  vertical-align: middle; 
  height: 32px;
}

@media screen and (max-width: 880px) {
	#logo-container {
		text-align: left;
	}
	#logo-container img {
		max-width: 321px;
		margin-left: 5%;
		width: 50%;
	}
	#main-wrapper {
		margin: 4%;
		padding: 1%;
	}
}
@media screen and (min-width: 881px) and (max-width: 1270px){
	#social {
		margin-top: 3%;
	}
	#logo-container {
		width: 60%;
		margin: 0px auto;
		text-align: left;
	}
	#logo-container img {
		max-width: 321px;
		width: 50%;
	}
	#main-wrapper {
		width: 60%;
		margin: 0px auto;
	}
}
@media screen and (min-width: 1271px){
	#social {
		margin-top: 3%;
	}
	#logo-container {
		width: 50%;
		margin: 0px auto;
		text-align: left;
	}
	#logo-container img {
		max-width: 321px;
		width: 50%;
	}
	#main-wrapper {
		width: 50%;
		margin: 0px auto;
	}
}
#footer {
  margin-top: 11%;
	bottom: 0px;
}
#footer p {
	margin: 0px;
}
#special {
	font-size: 0.8em;
}
#special img {
	vertical-align: middle;
	color: #fff;
}
#special a {
	border-bottom: 1px dashed #000;
	color: #000;
}
